<!DOCTYPE html>
<html>
  <head>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css')}}">
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <form method="POST" action="/post">
        <input type="hidden" value="put" name="_method">
        <div class="form-group">
          <label>title</label>
          <input type="text" name="title" class="form-control" value="{{params['title']}}">
          <small id="emailHelp" class="form-text text-muted">内容を記入してね！</small>
        </div>
        <div class="form-group">
          <label>context</label>
          <input type="text" name="context" class="form-control" value="{{params['context']}}">
        </div>
        <div class="form-group">
            {% if des_id <= 9 %}
              <input type="date" name="day" class="form-control" value="2018-08-0{{des_id}}">
            {% else %}
              <input type="date" name="day" class="form-control" value="2018-08-{{des_id}}">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
  